.bird-anchor {
    position: relative;
    height: 100%;
}
.bird-anchor.bird-anchor-show-marker::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background: color-mix(in srgb, #fff, #1e2025 9.4%);
    content: "";
}
.bird-anchor.bird-anchor-show-marker .bird-anchor-marker {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 7px;
    width: 2px;
    height: 16px;
    border-radius: 4px;
    background-color: #2b5aed;
    opacity: 0;
    transition:
        top 0.25s cubic-bezier(0, 1, 0.5, 1),
        background-color 0.5s,
        opacity 0.25s;
}
.bird-anchor-list {
    position: static;
    padding-left: 16px;
}
.bird-anchor-list.bird-anchor-list-root {
    padding-left: 8px;
}
.bird-anchor-item {
    position: static;
    list-style: none;
    line-height: 1;
}
.bird-anchor-item .bird-anchor-item-title {
    display: inline-block;
    overflow: hidden;
    padding: 0 8px;
    width: 100%;
    height: 30px;
    border-radius: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(30, 32, 37, 0.72);
    line-height: 30px;
}
.bird-anchor-item .bird-anchor-item-title:hover {
    font-weight: 500;
    color: #1e2025;
    background-color: color-mix(in srgb, #fff, #1e2025 6.8%);
}
.bird-anchor-item .bird-anchor-item-title.yk-anchor-item-title-active {
    font-weight: 500;
    color: #2b5aed;
}
.bird-anchor-show-marker .bird-anchor-item-title.bird-anchor-item-title-active {
    font-weight: 500;
    color: #1e2025;
}
