.bird-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;
    font-size: inherit;
    border-radius: 8px;
    white-space: nowrap;
    color: #ffffff;
    background-color: #2b5aed;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    cursor: pointer;

    --gray: #1e2025;
    --white: #ffffff;
    --primary-color-light: #2b5aed;
    --link-color-light: #1890ff;
    --success-color-light: #1fb4a2;
    --warn-color-light: #ffaa1a;
    --error-color-light: #fa5247;
    --primary-color-light-1: #3c67ee;
    --link-color-light-1: #2a99ff;
    --success-color-light-1: #31baa9;
    --warn-color-light-1: #ffb12c;
    --error-color-light-1: #fa6056;
    --gray-1: #303236;
    --primary-color-light-2: #4d74f0;
    --link-color-light-2: #3da2ff;
    --success-color-light-2: #43c0b1;
    --warn-color-light-2: #ffb83f;
    --error-color-light-2: #fb6e64;
    --gray-2: #424448;
    --primary-color-light-3: #5e82f1;
    --link-color-light-3: #4fabff;
    --success-color-light-3: #55c6b8;
    --warn-color-light-3: #ffbe51;
    --error-color-light-3: #fb7c73;
    --gray-3: #545659;
    --primary-color-light-4: #6f8ff3;
    --link-color-light-4: #62b4ff;
    --success-color-light-4: #67ccc0;
    --warn-color-light-4: #ffc563;
    --error-color-light-4: #fc8982;
    --gray-4: #66676b;
    --primary-color-light-5: #809cf4;
    --link-color-light-5: #74bcff;
    --success-color-light-5: #79d2c7;
    --warn-color-light-5: #ffcc76;
    --error-color-light-5: #fc9791;
    --gray-5: #78797c;
    --primary-color-light-6: #91a9f6;
    --link-color-light-6: #87c5ff;
    --success-color-light-6: #8bd8cf;
    --warn-color-light-6: #ffd388;
    --error-color-light-6: #fca59f;
    --gray-6: #8a8b8e;
    --primary-color-light-7: #a2b6f7;
    --link-color-light-7: #99ceff;
    --success-color-light-7: #9cded6;
    --warn-color-light-7: #ffda9a;
    --error-color-light-7: #fdb3ae;
    --gray-7: #9c9d9f;
    --primary-color-light-8: #b3c4f9;
    --link-color-light-8: #acd7ff;
    --success-color-light-8: #aee4de;
    --warn-color-light-8: #ffe0ad;
    --error-color-light-8: #fdc1bd;
    --gray-8: #aeafb1;
    --primary-color-light-9: #c4d1fa;
    --link-color-light-9: #bee0ff;
    --success-color-light-9: #c0eae5;
    --warn-color-light-9: #ffe7bf;
    --error-color-light-9: #fecfcb;
    --gray-9: #c0c1c2;
    --primary-color-light-10: #d5defb;
    --link-color-light-10: #d1e9ff;
    --success-color-light-10: #d2f0ec;
    --warn-color-light-10: #ffeed1;
    --error-color-light-10: #fedcda;
    --gray-10: #d2d2d3;
    --background-light-color-1: #ffffff;
    --background-light-color-2: #f7f7f7;
    --background-light-color-3: #f0f0f0;
    --background-light-color-4: #eaeaeb;
    --xs-width: 768px;
    --sm-width: 992px;
    --md-width: 1200px;
    --lg-width: 1920px;
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 12px;
    --space-lg: 16px;
    --space-xl: 24px;
    --line-color-xs: rgba(30, 32, 37, 0.08);
    --line-color-md: rgba(30, 32, 37, 0.16);
    --line-color-lg: rgba(30, 32, 37, 0.24);
    --size-xs: 12px;
    --size-sm: 14px;
    --size-md: 16px;
    --size-lg: 18px;
    --size-xl: 24px;
    --radius-xl: 16px;
    --radius-lg: 12px;
    --radius-md: 8px;
    --radius-sm: 4px;
    --radius-rd: 800px;
    --shadow-xs: 0 6px 6px -2px rgba(0, 0, 0, 0.12);
    --shadow-md: 0 4px 16px 0 rgba(0, 0, 0, 0.16);
    --shadow-lg: 0 4px 48px 0 rgba(0, 0, 0, 0.12);
    --font-color-lg: #1e2025;
    --font-color-md: rgba(30, 32, 37, 0.72);
    --font-color-sm: rgba(30, 32, 37, 0.48);
    --font-color-xs: rgba(30, 32, 37, 0.32);
    --animats: 0.3s;
}
.bird-button--loading {
    opacity: 0.7 !important;
}
.bird-button--loading .loading-icon {
    margin-right: 4px;
}
.bird-button--loading circle {
    stroke: #fff !important;
}
.bird-button--primary {
    color: #ffffff;
    background-color: #2b5aed;
    border-color: transparent;
}
.bird-button--primary circle {
    stroke: #ffffff !important;
}
.bird-button--primary:not(:disabled):hover {
    background-color: #446eef;
}
.bird-button--primary:not(:disabled):active {
    background-color: #3c67ee;
}
.bird-button.bird-button--primary.bird-button--primary {
    color: #ffffff;
    background-color: #2b5aed;
    border-color: transparent;
}
.bird-button.bird-button--primary.bird-button--primary circle {
    stroke: #ffffff !important;
}
.bird-button.bird-button--primary.bird-button--primary:not(:disabled):hover {
    background-color: #446eef;
}
.bird-button.bird-button--primary.bird-button--primary:not(:disabled):active {
    background-color: #3c67ee;
}
.bird-button.bird-button--primary.bird-button--success {
    color: #ffffff;
    background-color: #1fb4a2;
    border-color: transparent;
}
.bird-button.bird-button--primary.bird-button--success circle {
    stroke: #ffffff !important;
}
.bird-button.bird-button--primary.bird-button--success:not(:disabled):hover {
    background-color: #3abdad;
}
.bird-button.bird-button--primary.bird-button--success:not(:disabled):active {
    background-color: #31baa9;
}
.bird-button.bird-button--primary.bird-button--warning {
    color: #ffffff;
    background-color: #ffaa1a;
    border-color: transparent;
}
.bird-button.bird-button--primary.bird-button--warning circle {
    stroke: #ffffff !important;
}
.bird-button.bird-button--primary.bird-button--warning:not(:disabled):hover {
    background-color: #ffb435;
}
.bird-button.bird-button--primary.bird-button--warning:not(:disabled):active {
    background-color: var(--warn-color-light-1);
}
.bird-button.bird-button--primary.bird-button--danger {
    color: #ffffff;
    background-color: #fa5247;
    border-color: transparent;
}
.bird-button.bird-button--primary.bird-button--danger circle {
    stroke: #ffffff !important;
}
.bird-button.bird-button--primary.bird-button--danger:not(:disabled):hover {
    background-color: #fb675d;
}
.bird-button.bird-button--primary.bird-button--danger:not(:disabled):active {
    background-color: var(--error-color-light-1);
}
.bird-button--secondary {
    color: #1e2025;
    background-color: rgba(30, 32, 37, 0.08);
    border-color: transparent;
}
.bird-button--secondary circle {
    stroke: #1e2025 !important;
}
.bird-button--secondary:not(:disabled):hover {
    background-color: rgba(30, 32, 37, 0.12);
}
.bird-button--secondary:not(:disabled):active {
    background-color: rgba(30, 32, 37, 0.16);
}
.bird-button.bird-button--secondary.bird-button--primary {
    color: #2b5aed;
    background-color: var(--primary-color-light-10);
    border-color: transparent;
}
.bird-button.bird-button--secondary.bird-button--primary circle {
    stroke: #2b5aed !important;
}
.bird-button.bird-button--secondary.bird-button--primary:not(:disabled):hover {
    background-color: var(--primary-color-light-9);
}
.bird-button.bird-button--secondary.bird-button--primary:not(:disabled):active {
    background-color: var(--primary-color-light-8);
}
.bird-button.bird-button--secondary.bird-button--success {
    color: #1fb4a2;
    background-color: var(--success-color-light-10);
    border-color: transparent;
}
.bird-button.bird-button--secondary.bird-button--success circle {
    stroke: #1fb4a2 !important;
}
.bird-button.bird-button--secondary.bird-button--success:not(:disabled):hover {
    background-color: var(--success-color-light-9);
}
.bird-button.bird-button--secondary.bird-button--success:not(:disabled):active {
    background-color: var(--success-color-light-8);
}
.bird-button.bird-button--secondary.bird-button--warning {
    color: #ffaa1a;
    background-color: var(--warn-color-light-10);
    border-color: transparent;
}
.bird-button.bird-button--secondary.bird-button--warning circle {
    stroke: #ffaa1a !important;
}
.bird-button.bird-button--secondary.bird-button--warning:not(:disabled):hover {
    background-color: var(--warn-color-light-9);
}
.bird-button.bird-button--secondary.bird-button--warning:not(:disabled):active {
    background-color: var(--warn-color-light-8);
}
.bird-button.bird-button--secondary.bird-button--danger {
    color: #fa5247;
    background-color: var(--error-color-light-10);
    border-color: transparent;
}
.bird-button.bird-button--secondary.bird-button--danger circle {
    stroke: #fa5247 !important;
}
.bird-button.bird-button--secondary.bird-button--danger:not(:disabled):hover {
    background-color: var(--error-color-light-9);
}
.bird-button.bird-button--secondary.bird-button--danger:not(:disabled):active {
    background-color: var(--error-color-light-8);
}
.bird-button--plain {
    color: #1e2025;
    background-color: transparent;
    border-color: rgba(30, 32, 37, 0.16);
}
.bird-button--plain circle {
    stroke: #1e2025 !important;
}
.bird-button--plain:not(:disabled):hover {
    background-color: rgba(30, 32, 37, 0.08);
}
.bird-button--plain:not(:disabled):active {
    background-color: rgba(30, 32, 37, 0.12);
}
.bird-button.bird-button--plain.bird-button--primary {
    color: #3c67ee;
    background-color: transparent;
    border-color: var(--primary-color-light-8);
}
.bird-button.bird-button--plain.bird-button--primary circle {
    stroke: #3c67ee !important;
}
.bird-button.bird-button--plain.bird-button--primary:not(:disabled):hover {
    background-color: var(--primary-color-light-10);
}
.bird-button.bird-button--plain.bird-button--primary:not(:disabled):active {
    background-color: var(--primary-color-light-9);
}
.bird-button.bird-button--plain.bird-button--success {
    color: #31baa9;
    background-color: transparent;
    border-color: var(--success-color-light-8);
}
.bird-button.bird-button--plain.bird-button--success circle {
    stroke: #31baa9 !important;
}
.bird-button.bird-button--plain.bird-button--success:not(:disabled):hover {
    background-color: var(--success-color-light-10);
}
.bird-button.bird-button--plain.bird-button--success:not(:disabled):active {
    background-color: var(--success-color-light-9);
}
.bird-button.bird-button--plain.bird-button--warning {
    color: var(--warn-color-light-1);
    background-color: transparent;
    border-color: var(--warn-color-light-8);
}
.bird-button.bird-button--plain.bird-button--warning circle {
    stroke: var(--warn-color-light-1) !important;
}
.bird-button.bird-button--plain.bird-button--warning:not(:disabled):hover {
    background-color: var(--warn-color-light-10);
}
.bird-button.bird-button--plain.bird-button--warning:not(:disabled):active {
    background-color: var(--warn-color-light-9);
}
.bird-button.bird-button--plain.bird-button--danger {
    color: var(--error-color-light-1);
    background-color: transparent;
    border-color: var(--error-color-light-8);
}
.bird-button.bird-button--plain.bird-button--danger circle {
    stroke: var(--error-color-light-1) !important;
}
.bird-button.bird-button--plain.bird-button--danger:not(:disabled):hover {
    background-color: var(--error-color-light-10);
}
.bird-button.bird-button--plain.bird-button--danger:not(:disabled):active {
    background-color: var(--error-color-light-9);
}
.bird-button--sm {
    padding: 0 8px;
    min-width: 24px;
    height: 24px;
    font-size: 12px;
    border-radius: 4px;
}
.bird-button--md {
    padding: 0 16px;
    min-width: 32px;
    height: 32px;
    border-radius: 4px;
}
.bird-button--lg {
    padding: 0 16px;
    min-width: 36px;
    height: 36px;
    border-radius: 8px;
}
.bird-button--xl {
    padding: 0 24px;
    min-width: 48px;
    height: 48px;
    font-size: 16px;
    border-radius: 8px;
}
.bird-button--block {
    display: block;
    width: 100%;
}
.bird-button--round {
    border-radius: 800px;
}
.bird-button--circle {
    padding: 0;
    border-radius: 800px;
}
.bird-button--square {
    padding: 0;
}
.bird-button--disabled {
    display: inline-flex;
    opacity: 0.56;
    cursor: not-allowed;
}
.bird-button--disabled::before {
    position: absolute;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    content: "";
}
