.bird-svg-icon {
    color: rgba(30, 32, 37, 0.72);
    transition: color 0.3s;
}
.bird-svg-icon .svg-icon {
    width: 24px;
    height: 24px;
    fill: currentcolor;
    font-size: inherit;
}
.bird-svg-icon .svg-icon.svg-loading,
.bird-svg-icon .svg-icon.svg-loading1 {
    animation: rotating 1.5s linear infinite;
}
@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn);
    }
}
